#!/usr/bin/make -f
%:
	dh $@ --buildsystem cargo

override_dh_auto_test:

override_dh_auto_install:
	sed -i -e "s|debug|release|" GNUmakefile
	CARGO_HOME=$(shell pwd)/debian/cargo_home DEB_CARGO_CRATE=coreutils_$(VERSION) /usr/share/cargo/bin/cargo prepare-debian debian/cargo_registry --link-from-system
	CARGO_HOME=$(shell pwd)/debian/cargo_home DESTDIR=$(CURDIR)/debian/tmp/ make install
	for f in $(CURDIR)/debian/tmp/usr/local/bin/*; do \
		filename=$$(basename $$f); \
		help2man $$f > docs/$$filename.1; \
	done
