Source: rust-virtio-queue
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-log-0.4+default-dev (>= 0.4.17-~~) <!nocheck>,
 librust-virtio-bindings-0.2+default-dev <!nocheck>,
 librust-vm-memory-0.10+default-dev <!nocheck>,
 librust-vmm-sys-util-0.11+default-dev <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Fabian Grünbichler <debian@fabian.gruenbichler.email>,
 Michael Tokarev <mjt@tls.msk.ru>
Standards-Version: 4.6.1
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/virtio-queue]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/virtio-queue
X-Cargo-Crate: virtio-queue
Rules-Requires-Root: no

Package: librust-virtio-queue-dev
# vmm-sys-util only builds on these architectures:
Architecture: amd64 arm64 ppc64 ppc64el riscv64 s390x sparc64
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-log-0.4+default-dev (>= 0.4.17-~~),
 librust-virtio-bindings-0.2+default-dev,
 librust-vm-memory-0.10+default-dev,
 librust-vmm-sys-util-0.11+default-dev
Provides:
 librust-virtio-queue+default-dev (= ${binary:Version}),
 librust-virtio-queue+test-utils-dev (= ${binary:Version}),
 librust-virtio-queue-0-dev (= ${binary:Version}),
 librust-virtio-queue-0+default-dev (= ${binary:Version}),
 librust-virtio-queue-0+test-utils-dev (= ${binary:Version}),
 librust-virtio-queue-0.7-dev (= ${binary:Version}),
 librust-virtio-queue-0.7+default-dev (= ${binary:Version}),
 librust-virtio-queue-0.7+test-utils-dev (= ${binary:Version}),
 librust-virtio-queue-0.7.1-dev (= ${binary:Version}),
 librust-virtio-queue-0.7.1+default-dev (= ${binary:Version}),
 librust-virtio-queue-0.7.1+test-utils-dev (= ${binary:Version})
Description: Virtio queue implementation - Rust source code
 This package contains the source for the Rust virtio-queue crate, packaged by
 debcargo for use with cargo and dh-cargo.
