#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk
%:
	dh $@ --buildsystem cargo

execute_after_dh_testdir:
	find . ! -newermt "jan 01, 2000" -exec touch -d "@$(SOURCE_DATE_EPOCH)" {} +

override_dh_auto_test:
	dh_auto_test -- test --all || true
