Test-Command: /usr/share/cargo/bin/cargo-auto-test winit 0.26.1 --all-targets --all-features
Features: test-name=rust-winit:@
Depends: dh-cargo (>= 18), librust-image-0.23+default-dev (>= 0.23.12-~~), librust-simple-logger-1+default-dev (>= 1.9-~~), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test winit 0.26.1 --all-targets 
Features: test-name=librust-winit-dev:default
Depends: dh-cargo (>= 18), librust-image-0.23+default-dev (>= 0.23.12-~~), librust-simple-logger-1+default-dev (>= 1.9-~~), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test winit 0.26.1 --all-targets --no-default-features --features wayland
Features: test-name=librust-winit-dev:wayland
Depends: dh-cargo (>= 18), librust-image-0.23+default-dev (>= 0.23.12-~~), librust-simple-logger-1+default-dev (>= 1.9-~~), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test winit 0.26.1 --all-targets --no-default-features --features x11
Features: test-name=librust-winit-dev:x11
Depends: dh-cargo (>= 18), librust-image-0.23+default-dev (>= 0.23.12-~~), librust-simple-logger-1+default-dev (>= 1.9-~~), @
Restrictions: allow-stderr, skip-not-installable
