Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --all-features
Features: test-name=rust-async-tungstenite:@
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable, flaky
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features __rustls-tls
Features: test-name=librust-async-tungstenite-dev:__rustls-tls
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features async-std
Features: test-name=librust-async-tungstenite-dev:async-std
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features async-std-runtime
Features: test-name=librust-async-tungstenite-dev:async-std-runtime
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features async-tls
Features: test-name=librust-async-tungstenite-dev:async-tls
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable, flaky
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets
Features: test-name=librust-async-tungstenite-dev:default
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features gio
Features: test-name=librust-async-tungstenite-dev:gio
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features gio-runtime
Features: test-name=librust-async-tungstenite-dev:gio-runtime
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features glib
Features: test-name=librust-async-tungstenite-dev:glib
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features handshake
Features: test-name=librust-async-tungstenite-dev:handshake
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features openssl
Features: test-name=librust-async-tungstenite-dev:openssl
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features real-async-tls
Features: test-name=librust-async-tungstenite-dev:real-async-tls
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features real-native-tls
Features: test-name=librust-async-tungstenite-dev:real-native-tls
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features real-tokio-native-tls
Features: test-name=librust-async-tungstenite-dev:real-tokio-native-tls
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features real-tokio-openssl
Features: test-name=librust-async-tungstenite-dev:real-tokio-openssl
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features real-tokio-rustls
Features: test-name=librust-async-tungstenite-dev:real-tokio-rustls
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features rustls-native-certs
Features: test-name=librust-async-tungstenite-dev:rustls-native-certs
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features tokio
Features: test-name=librust-async-tungstenite-dev:tokio
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features tokio-openssl
Features: test-name=librust-async-tungstenite-dev:tokio-openssl
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features tokio-runtime
Features: test-name=librust-async-tungstenite-dev:tokio-runtime
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features tokio-rustls-manual-roots
Features: test-name=librust-async-tungstenite-dev:tokio-rustls-manual-roots
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features tokio-rustls-native-certs
Features: test-name=librust-async-tungstenite-dev:tokio-rustls-native-certs
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features --features verbose-logging
Features: test-name=librust-async-tungstenite-dev:verbose-logging
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64

Test-Command: /usr/share/cargo/bin/cargo-auto-test async-tungstenite 0.23.0 --all-targets --no-default-features
Features: test-name=librust-async-tungstenite-dev:
Depends: dh-cargo (>= 18), librust-async-std-1+attributes-dev, librust-async-std-1+default-dev, librust-async-std-1+unstable-dev, librust-env-logger-0.10+default-dev, librust-futures-0.3+default-dev, librust-futures-channel-0.3+default-dev, librust-hyper-0.14+http1-dev, librust-hyper-0.14+server-dev, librust-hyper-0.14+tcp-dev, librust-tokio-1+default-dev, librust-tokio-1+full-dev, librust-url-2+default-dev, @
Restrictions: allow-stderr, skip-not-installable
Architecture: !riscv64
