Source: rust-libz-rs-sys-cdylib
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.75) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-libz-rs-sys-0.5+c-allocator-dev (>= 0.5.2-~~) <!nocheck>,
 librust-libz-rs-sys-0.5+export-symbols-dev (>= 0.5.2-~~) <!nocheck>,
 librust-zlib-rs-0.5-dev (>= 0.5.2-~~) <!nocheck>,
 cargo-c:native (>= 0.9.29),
 librust-libc-0.2+default-dev (>= 0.2.171-~~)
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Fabian Grünbichler <debian@fabian.gruenbichler.email>
Standards-Version: 4.7.2
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/libz-rs-sys-cdylib]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/libz-rs-sys-cdylib
Homepage: https://github.com/trifectatechfoundation/zlib-rs
X-Cargo-Crate: libz-rs-sys-cdylib
Rules-Requires-Root: no

Package: librust-libz-rs-sys-cdylib-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-libc-0.2+default-dev (>= 0.2.171-~~),
 librust-libz-rs-sys-0.5+c-allocator-dev (>= 0.5.2-~~),
 librust-libz-rs-sys-0.5+custom-prefix-dev (>= 0.5.2-~~),
 librust-libz-rs-sys-0.5+export-symbols-dev (>= 0.5.2-~~),
 librust-libz-rs-sys-0.5+rust-allocator-dev (>= 0.5.2-~~),
 librust-libz-rs-sys-0.5+semver-prefix-dev (>= 0.5.2-~~),
 librust-libz-rs-sys-0.5+std-dev (>= 0.5.2-~~),
 librust-zlib-rs-0.5-dev (>= 0.5.2-~~)
Provides:
 librust-libz-rs-sys-cdylib+--internal-test-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib+c-allocator-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib+capi-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib+custom-prefix-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib+default-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib+gz-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib+gzprintf-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib+rust-allocator-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib+semver-prefix-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0+--internal-test-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0+c-allocator-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0+capi-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0+custom-prefix-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0+default-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0+gz-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0+gzprintf-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0+rust-allocator-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0+semver-prefix-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5+--internal-test-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5+c-allocator-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5+capi-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5+custom-prefix-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5+default-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5+gz-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5+gzprintf-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5+rust-allocator-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5+semver-prefix-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5.2-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5.2+--internal-test-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5.2+c-allocator-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5.2+capi-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5.2+custom-prefix-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5.2+default-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5.2+gz-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5.2+gzprintf-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5.2+rust-allocator-dev (= ${binary:Version}),
 librust-libz-rs-sys-cdylib-0.5.2+semver-prefix-dev (= ${binary:Version})
Description: C-compatible API for zlib-rs, the memory-safe, pure Rust implementation of zlib. - Rust source code
 .
 Source code for Debianized Rust crate "libz-rs-sys-cdylib"

Package: libz-rs1
Architecture: any
Multi-Arch: same
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: C-compatible API for zlib-rs, the memory-safe, pure Rust implementation of zlib. - shraed library
 .
 libz-rs-sys is the C-compatible API for zlib-rs, a memory-safe, pure Rust implementation of zlib. This package contains the shared library.

Package: libz-rs-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends:
 libz-rs1 (= ${binary:Version}),
 ${misc:Depends}
Description: C-compatible API for zlib-rs, the memory-safe, pure Rust implementation of zlib. - development files
 .
 libz-rs-sys is the C-compatible API for zlib-rs, a memory-safe, pure Rust implementation of zlib.
 .
 This package contains the development files.
