Source: rust-pyo3-asyncio-0-21
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo,
 cargo:native <!nocheck>,
 rustc:native (>= 1.63) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-futures-0.3+default-dev <!nocheck>,
 librust-once-cell-1+default-dev (>= 1.14-~~) <!nocheck>,
 librust-pin-project-lite-0.2+default-dev <!nocheck>,
 librust-pyo3-0.22+default-dev (>= 0.22.0-1) <nocheck>, 
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Josenilson Ferreira da Silva <nilsonfsilva@hotmail.com>
Standards-Version: 4.7.0
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/pyo3-asyncio-0-21]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/pyo3-asyncio-0-21
Homepage: https://github.com/davidhewitt/pyo3-asyncio
X-Cargo-Crate: pyo3-asyncio-0-21
Rules-Requires-Root: no

Package: librust-pyo3-asyncio-0-21-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-futures-0.3+default-dev,
 librust-once-cell-1+default-dev (>= 1.14-~~),
 librust-pin-project-lite-0.2+default-dev,
 librust-pyo3-0.21+default-dev
Suggests:
 librust-pyo3-asyncio-0-21+async-channel-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21+async-std-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21+clap-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21+inventory-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21+pyo3-asyncio-macros-0-21-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21+testing-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21+tokio-dev (= ${binary:Version})
Provides:
 librust-pyo3-asyncio-0-21+default-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0+default-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+default-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+default-dev (= ${binary:Version})
Description: PyO3 utilities for Python's Asyncio library - 0.21 fork - Rust source code
 Source code for Debianized Rust crate "pyo3-asyncio-0-21"

Package: librust-pyo3-asyncio-0-21+async-channel-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-pyo3-asyncio-0-21-dev (= ${binary:Version}),
 librust-async-channel-1+default-dev (>= 1.6-~~)
Provides:
 librust-pyo3-asyncio-0-21+unstable-streams-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0+async-channel-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0+unstable-streams-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+async-channel-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+unstable-streams-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+async-channel-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+unstable-streams-dev (= ${binary:Version})
Description: PyO3 utilities for Python's Asyncio library - 0.21 fork - feature "async-channel" and 1 more
 This metapackage enables feature "async-channel" for the Rust pyo3-asyncio-0-21
 crate, by pulling in any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "unstable-streams" feature.

Package: librust-pyo3-asyncio-0-21+async-std-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-pyo3-asyncio-0-21-dev (= ${binary:Version}),
 librust-async-std-1+default-dev (>= 1.12-~~),
 librust-async-std-1+unstable-dev (>= 1.12-~~)
Provides:
 librust-pyo3-asyncio-0-21+async-std-runtime-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0+async-std-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0+async-std-runtime-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+async-std-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+async-std-runtime-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+async-std-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+async-std-runtime-dev (= ${binary:Version})
Description: PyO3 utilities for Python's Asyncio library - 0.21 fork - feature "async-std" and 1 more
 This metapackage enables feature "async-std" for the Rust pyo3-asyncio-0-21
 crate, by pulling in any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "async-std-runtime" feature.

Package: librust-pyo3-asyncio-0-21+clap-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-pyo3-asyncio-0-21-dev (= ${binary:Version}),
 librust-clap-3+default-dev (>= 3.2-~~)
Provides:
 librust-pyo3-asyncio-0-21-0+clap-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+clap-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+clap-dev (= ${binary:Version})
Description: PyO3 utilities for Python's Asyncio library - 0.21 fork - feature "clap"
 This metapackage enables feature "clap" for the Rust pyo3-asyncio-0-21 crate,
 by pulling in any additional dependencies needed by that feature.

Package: librust-pyo3-asyncio-0-21+inventory-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-pyo3-asyncio-0-21-dev (= ${binary:Version}),
 librust-inventory-0.3+default-dev
Provides:
 librust-pyo3-asyncio-0-21-0+inventory-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+inventory-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+inventory-dev (= ${binary:Version})
Description: PyO3 utilities for Python's Asyncio library - 0.21 fork - feature "inventory"
 This metapackage enables feature "inventory" for the Rust pyo3-asyncio-0-21
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-pyo3-asyncio-0-21+pyo3-asyncio-macros-0-21-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-pyo3-asyncio-0-21-dev (= ${binary:Version}),
 librust-pyo3-asyncio-macros-0-21-0.21.0+default-dev
Provides:
 librust-pyo3-asyncio-0-21+attributes-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0+pyo3-asyncio-macros-0-21-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0+attributes-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+pyo3-asyncio-macros-0-21-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+attributes-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+pyo3-asyncio-macros-0-21-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+attributes-dev (= ${binary:Version})
Description: PyO3 utilities for Python's Asyncio library - 0.21 fork - feature "pyo3-asyncio-macros-0-21" and 1 more
 This metapackage enables feature "pyo3-asyncio-macros-0-21" for the Rust pyo3-
 asyncio-0-21 crate, by pulling in any additional dependencies needed by that
 feature.
 .
 Additionally, this package also provides the "attributes" feature.

Package: librust-pyo3-asyncio-0-21+testing-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-pyo3-asyncio-0-21-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21+clap-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21+inventory-dev (= ${binary:Version})
Provides:
 librust-pyo3-asyncio-0-21-0+testing-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+testing-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+testing-dev (= ${binary:Version})
Description: PyO3 utilities for Python's Asyncio library - 0.21 fork - feature "testing"
 This metapackage enables feature "testing" for the Rust pyo3-asyncio-0-21
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-pyo3-asyncio-0-21+tokio-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-pyo3-asyncio-0-21-dev (= ${binary:Version}),
 librust-tokio-1+default-dev (>= 1.13-~~),
 librust-tokio-1+rt-dev (>= 1.13-~~),
 librust-tokio-1+rt-multi-thread-dev (>= 1.13-~~),
 librust-tokio-1+time-dev (>= 1.13-~~)
Provides:
 librust-pyo3-asyncio-0-21+tokio-runtime-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0+tokio-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0+tokio-runtime-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+tokio-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21+tokio-runtime-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+tokio-dev (= ${binary:Version}),
 librust-pyo3-asyncio-0-21-0.21.0+tokio-runtime-dev (= ${binary:Version})
Description: PyO3 utilities for Python's Asyncio library - 0.21 fork - feature "tokio" and 1 more
 This metapackage enables feature "tokio" for the Rust pyo3-asyncio-0-21 crate,
 by pulling in any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "tokio-runtime" feature.
