#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@ --buildsystem cargo

execute_after_dh_auto_build:
	CARGO_HOME=debian/cargo_home \
		/usr/share/cargo/bin/cargo cbuild --release \
		--destdir=debian/tmp \
		--prefix=/usr \
		--libdir=/usr/lib/${DEB_HOST_MULTIARCH} \
		--offline \
		-v

execute_after_dh_auto_install:
	CARGO_HOME=debian/cargo_home \
		/usr/share/cargo/bin/cargo cinstall --release \
		--destdir=debian/tmp \
		--prefix=/usr \
		--libdir=/usr/lib/${DEB_HOST_MULTIARCH} \
		--offline \
		-v
