#!/usr/bin/make -f

%:
	dh $@ --buildsystem cargo

execute_after_dh_auto_build:
	/usr/share/cargo/bin/cargo cbuild --release

execute_after_dh_auto_install:
	DESTDIR=debian/tmp /usr/share/cargo/bin/cargo cinstall --release
