#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

EXECUTABLE=process_viewer
PACKAGE=process-viewer

%:
	dh $@ --buildsystem cargo

override_dh_installman:
	broadwayd &
	BROADWAY_PID=$!
	GDK_BACKEND=broadway help2man \
                --name $(EXECUTABLE) \
                --no-info \
				--no-discard-std-err \
                --version-string $(DEB_VERSION_UPSTREAM) \
                debian/$(PACKAGE)/usr/bin/$(EXECUTABLE) > debian/$(EXECUTABLE).1
	kill $(BROADWAY_PID)
	dh_installman -O--buildsystem=cargo
