[Unit]
Description=Utility to share your GPS device on local network

[Socket]
ListenStream=/run/gps-share.sock
ListenStream=[::1]:10110
ListenStream=127.0.0.1:10110

[Install]
WantedBy=sockets.target
