[Unit]
Description=Utility to share your GPS device on local network
User=gps-share
Requires=gps-share.socket

[Service]
EnvironmentFile=-/etc/default/gps-share
ExecStart=/usr/bin/gps-share --socket-path /run/gps-share.sock $DEVICES
Restart=on-failure

[Install]
WantedBy=default.target
