[Unit]
Description=Erbium server
After=network.target
Documentation=https://github.com/isomer/erbium

[Service]
ExecStart=/usr/bin/erbium /etc/erbium.conf

[Install]
WantedBy=multi-user.target
Alias=dhcpd.service
