Source: rust-tiny-dfr
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native,
 rustc:native,
 libstd-rust-dev,
 librust-anyhow-1+default-dev,
 librust-cairo-rs-0.20+freetype-dev,
 librust-cairo-rs-0.20+png-dev,
 librust-chrono-0.4+default-dev,
 librust-chrono-0.4+unstable-locales-dev,
 librust-drm-0.14+default-dev,
 librust-freedesktop-icons-0.4+default-dev,
 librust-freetype-rs-0+default-dev (>= 0.26-~~),
 librust-input-0.9+default-dev,
 librust-input-linux-0.7+default-dev,
 librust-input-linux-0.7+serde-dev,
 librust-input-linux-sys-0.9+default-dev,
 librust-libc-0.2+default-dev,
 librust-librsvg-rebind-0.1+default-dev,
 librust-nix-0.29+default-dev,
 librust-nix-0.29+event-dev,
 librust-nix-0.29+inotify-dev,
 librust-nix-0.29+signal-dev,
 librust-pkg-config-0.3+default-dev,
 librust-privdrop-0.5+default-dev (>= 0.5.3-~~),
 librust-rand-0.8+default-dev,
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-toml-0.8+default-dev,
 librust-udev-0.9+default-dev
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Andreas Henriksson <andreas@fatal.se>,
 NoisyCoil <noisycoil@tutanota.com>
Standards-Version: 4.7.0
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/tiny-dfr]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/tiny-dfr
Homepage: https://github.com/AsahiLinux/tiny-dfr
X-Cargo-Crate: tiny-dfr
Rules-Requires-Root: no

Package: tiny-dfr
Architecture: arm64 amd64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${cargo:Depends}
Recommends:
 ${cargo:Recommends}
Suggests:
 ${cargo:Suggests}
Provides:
 ${cargo:Provides}
Built-Using: ${cargo:Built-Using}
Static-Built-Using: ${cargo:Static-Built-Using}
Description: dynamic touch bar daemon
 This package contains tiny-dfr, the userland touch bar daemon.
 .
 tiny-dfr shows the function row and media control keys (brightness,
 volume, backlight, play, etc) on your touch bar. Currently supported
 platforms are Apple Silicon and T2 Macs.
