#!/usr/bin/make -f
%:
	dh $@ --buildsystem cargo

override_dh_install:
	make man systemd-service
	dh_install -O--buildsystem=cargo

execute_after_dh_auto_install:
	mkdir -p debian/systemd-zram-generator/lib/systemd/system-generators
	mv debian/systemd-zram-generator/usr/bin/zram-generator debian/systemd-zram-generator/lib/systemd/system-generators
	rm -rf debian/systemd-zram-generator/usr/bin
