# Override: remove feature combinations that don't compile to avoid wasting cycles

Test-Command: /usr/share/cargo/bin/cargo-auto-test ruma-common 0.10.5 --all-targets --all-features
Features: test-name=rust-ruma-common:@
Depends: dh-cargo (>= 31), rustc (>= 1.90), rustc (>= 1.60), librust-assert-matches-1+default-dev (>= 1.5.0-~~), librust-assign-1+default-dev (>= 1.1.1-~~), librust-http-0.2+default-dev (>= 0.2.2-~~), librust-maplit-1+default-dev (>= 1.0.2-~~), librust-trybuild-1+default-dev (>= 1.0.42-~~), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test ruma-common 0.10.5 --all-targets
Features: test-name=librust-ruma-common-dev:default
Depends: dh-cargo (>= 31), rustc (>= 1.90), rustc (>= 1.90), rustc (>= 1.60), librust-assert-matches-1+default-dev (>= 1.5.0-~~), librust-assign-1+default-dev (>= 1.1.1-~~), librust-http-0.2+default-dev (>= 0.2.2-~~), librust-maplit-1+default-dev (>= 1.0.2-~~), librust-trybuild-1+default-dev (>= 1.0.42-~~), @
Restrictions: allow-stderr, skip-not-installable
