[Unit]
Description=Parsec Service
Documentation=https://parallaxsecond.github.io/parsec-book/

[Service]
Restart=on-failure
User=parsec
Group=parsec
ExecStart=/usr/bin/parsec -c /etc/parsec/config.toml
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
