#!/usr/bin/make -f

%:
	dh $@ --buildsystem cargo

override_dh_install:
	mv ./target/*/release/build/*/out/assets/completions/bat.zsh _bat
	mv ./target/*/release/build/*/out/assets/completions/bat.fish bat.fish
	mv ./target/*/release/build/*/out/assets/completions/bat.bash bat.bash
	mv ./target/*/release/build/*/out/assets/manual/bat.1 doc/bat.1
	dh_install

override_dh_dwz:
# Don't do anything. fails because of the
# https://github.com/rust-lang/rust/issues/66118
