Test-Command: /usr/share/cargo/bin/cargo-auto-test statrs 0.17.1 --all-targets --all-features -- --skip test_covariance_consistent_with_variance --skip test_covariance_is_symmetric --skip  test_mean --skip test_pop_covar_consistent_with_pop_var --skip test_std_dev
Features: test-name=rust-statrs:@
Depends: dh-cargo (>= 18), librust-criterion-0.3+default-dev (>= 0.3.3-~~), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test statrs 0.17.1 --all-targets -- --skip test_covariance_consistent_with_variance --skip test_covariance_is_symmetric --skip  test_mean --skip test_pop_covar_consistent_with_pop_var --skip test_std_dev
Features: test-name=librust-statrs-dev:default
Depends: dh-cargo (>= 18), librust-criterion-0.3+default-dev (>= 0.3.3-~~), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test statrs 0.17.1 --all-targets --no-default-features -- --skip test_covariance_consistent_with_variance --skip test_covariance_is_symmetric --skip  test_mean --skip test_pop_covar_consistent_with_pop_var --skip test_std_dev
Features: test-name=librust-statrs-dev:
Depends: dh-cargo (>= 18), librust-criterion-0.3+default-dev (>= 0.3.3-~~), @
Restrictions: allow-stderr, skip-not-installable
