Test-Command: /usr/share/cargo/bin/cargo-auto-test protobuf-parse 3.2.0 -- --skip test_against_protobuf_protos::test --skip test_bundled_rustproto_proto_consistent --skip test_bundled_google_proto_files_consistent --  --all-features
Features: test-name=rust-protobuf-parse:@
Depends: dh-cargo (>= 18), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test protobuf-parse 3.2.0 -- --skip test_against_protobuf_protos::test --skip test_bundled_rustproto_proto_consistent --skip test_bundled_google_proto_files_consistent 
Features: test-name=librust-protobuf-parse-dev:default
Depends: dh-cargo (>= 18), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test protobuf-parse 3.2.0 -- --skip test_against_protobuf_protos::test --skip test_bundled_rustproto_proto_consistent --skip test_bundled_google_proto_files_consistent -- --no-default-features
Features: test-name=librust-protobuf-parse-dev:
Depends: dh-cargo (>= 18), @
Restrictions: allow-stderr, skip-not-installable
