#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --buildsystem cargo

override_dh_installman:
	help2man \
		--name tre \
		--no-info \
		--version-string $(DEB_VERSION_UPSTREAM) \
		debian/tre-command/usr/bin/tre > debian/tre.1
	dh_installman -O--buildsystem=cargo
