#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --buildsystem cargo

override_dh_install:
	mkdir -p debian/ripasso-cursive/usr/share/ripasso/
	cp -f target/translations/cursive/de.mo debian/ripasso-cursive/usr/share/ripasso/
	cp -f target/translations/cursive/fr.mo debian/ripasso-cursive/usr/share/ripasso/
	cp -f target/translations/cursive/it.mo debian/ripasso-cursive/usr/share/ripasso/
	cp -f target/translations/cursive/nb.mo debian/ripasso-cursive/usr/share/ripasso/
	cp -f target/translations/cursive/nn.mo debian/ripasso-cursive/usr/share/ripasso/
	cp -f target/translations/cursive/sv.mo debian/ripasso-cursive/usr/share/ripasso/
	dh_install

