#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --buildsystem cargo

override_dh_installman:
	help2man \
		--name zoxide \
		--no-info \
		--version-string $(DEB_VERSION_UPSTREAM) \
		debian/zoxide/usr/bin/zoxide > debian/zoxide.1
	dh_installman -O--buildsystem=cargo

override_dh_dwz:
	# Don't do anything, fails because of
	# https://github.com/rust-lang/rust/issues/66118
	# (copied from other binary crates)
