Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features AudioBuffer
Features: test-name=librust-web-sys-dev:AudioBuffer
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features AudioBufferSourceNode
Features: test-name=librust-web-sys-dev:AudioBufferSourceNode
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features AudioContext
Features: test-name=librust-web-sys-dev:AudioContext
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features AudioContextLatencyCategory
Features: test-name=librust-web-sys-dev:AudioContextLatencyCategory
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features AudioContextOptions
Features: test-name=librust-web-sys-dev:AudioContextOptions
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features AudioContextState
Features: test-name=librust-web-sys-dev:AudioContextState
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features AudioDestinationNode
Features: test-name=librust-web-sys-dev:AudioDestinationNode
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features AudioNode
Features: test-name=librust-web-sys-dev:AudioNode
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features Crypto
Features: test-name=librust-web-sys-dev:Crypto
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features Window
Features: test-name=librust-web-sys-dev:Window
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features Navigator
Features: test-name=librust-web-sys-dev:Navigator
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features Event
Features: test-name=librust-web-sys-dev:Event
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features HtmlCanvasElement
Features: test-name=librust-web-sys-dev:HtmlCanvasElement
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features NodeList
Features: test-name=librust-web-sys-dev:NodeList
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features OffscreenCanvas
Features: test-name=librust-web-sys-dev:OffscreenCanvas
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features WorkerGlobalScope
Features: test-name=librust-web-sys-dev:WorkerGlobalScope
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features WorkerNavigator
Features: test-name=librust-web-sys-dev:WorkerNavigator
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features --features console
Features: test-name=librust-web-sys-dev:console
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets
Features: test-name=librust-web-sys-dev:default
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test web-sys 0.3.77 --all-targets --no-default-features
Features: test-name=librust-web-sys-dev:
Depends: dh-cargo (>= 31), rustc (>= 1.57), librust-futures-0.3+default-dev, @
Restrictions: allow-stderr, skip-not-installable
