#!/usr/bin/make -f

%:
	dh $@ --buildsystem cargo

override_dh_install:
	mkdir -p debian/du-dust/usr/share/bash-completion/completions \
		debian/du-dust/usr/share/fish/vendor_completions.d \
		debian/du-dust/usr/share/zsh/vendor-completions
	cp -f completions/dust.bash debian/du-dust/usr/share/bash-completion/completions/dust
	cp -f completions/dust.fish debian/du-dust/usr/share/fish/vendor_completions.d/dust.fish
	cp -f completions/_dust debian/du-dust/usr/share/zsh/vendor-completions/_dust
	dh_install

