# As of 0.3.10: compiler_error!("to run unit tests enable the `unstable-test` feature, e.g. `cargo t --features unstable-test`")
# so it's added to all test cases.

Test-Command: /usr/share/cargo/bin/cargo-auto-test defmt 0.3.10 --all-targets --all-features
Features: test-name=rust-defmt:@
Depends: dh-cargo (>= 31), rustc, librust-rustc-version-0.4+default-dev, librust-trybuild-1+default-dev, @
Restrictions: allow-stderr, skip-not-installable, flaky

Test-Command: /usr/share/cargo/bin/cargo-auto-test defmt 0.3.10 --all-targets --no-default-features --features alloc,unstable-test
Features: test-name=librust-defmt-dev:alloc
Depends: dh-cargo (>= 31), rustc, librust-rustc-version-0.4+default-dev, librust-trybuild-1+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test defmt 0.3.10 --all-targets --no-default-features --features avoid-default-panic,unstable-test
Features: test-name=librust-defmt-dev:avoid-default-panic
Depends: dh-cargo (>= 31), rustc, librust-rustc-version-0.4+default-dev, librust-trybuild-1+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test defmt 0.3.10 --all-targets --features unstable-test
Features: test-name=librust-defmt-dev:default
Depends: dh-cargo (>= 31), rustc, librust-rustc-version-0.4+default-dev, librust-trybuild-1+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test defmt 0.3.10 --all-targets --no-default-features --features encoding-raw,unstable-test
Features: test-name=librust-defmt-dev:encoding-raw
Depends: dh-cargo (>= 31), rustc, librust-rustc-version-0.4+default-dev, librust-trybuild-1+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test defmt 0.3.10 --all-targets --no-default-features --features encoding-rzcobs,unstable-test
Features: test-name=librust-defmt-dev:encoding-rzcobs
Depends: dh-cargo (>= 31), rustc, librust-rustc-version-0.4+default-dev, librust-trybuild-1+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test defmt 0.3.10 --all-targets --no-default-features --features ip_in_core,unstable-test
Features: test-name=librust-defmt-dev:ip_in_core
Depends: dh-cargo (>= 31), rustc, librust-rustc-version-0.4+default-dev, librust-trybuild-1+default-dev, @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test defmt 0.3.10 --all-targets --no-default-features --features unstable-test
Features: test-name=librust-defmt-dev:unstable-test
Depends: dh-cargo (>= 31), rustc, librust-rustc-version-0.4+default-dev, librust-trybuild-1+default-dev, @
Restrictions: allow-stderr, skip-not-installable

#Test-Command: /usr/share/cargo/bin/cargo-auto-test defmt 0.3.10 --all-targets --no-default-features
