Source: rust-capstone-sys
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 24),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-cc-1+default-dev <!nocheck>,
 librust-libc-0.2-dev (>= 0.2.59-~~) <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Michael R. Crusoe <crusoe@debian.org>
Standards-Version: 4.5.1
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/capstone-sys]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/capstone-sys
Rules-Requires-Root: no

Package: librust-capstone-sys-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-cc-1+default-dev,
 librust-libc-0.2-dev (>= 0.2.59-~~)
Provides:
 librust-capstone-sys+default-dev (= ${binary:Version}),
 librust-capstone-sys-0-dev (= ${binary:Version}),
 librust-capstone-sys-0+default-dev (= ${binary:Version}),
 librust-capstone-sys-0.11-dev (= ${binary:Version}),
 librust-capstone-sys-0.11+default-dev (= ${binary:Version}),
 librust-capstone-sys-0.11.0-dev (= ${binary:Version}),
 librust-capstone-sys-0.11.0+default-dev (= ${binary:Version})
Description: System bindings to the capstone disassembly library - Rust source code
 This package contains the source for the Rust capstone-sys crate, packaged by
 debcargo for use with cargo and dh-cargo.
